html, body { 
  margin: 0; 
  padding: 0; 
}

/* Navigation */
.topnav{
   background-color: rgb(80, 80, 80);
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding: 10px;
}

/* zentrale Elemente */
.center{
    display: flex;
    gap: 30px;
}

/* Textelemente */
.topnav a,
.topnav p{
    color:white;
    text-decoration: none;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.right{
    display: flex;
    flex-direction: column;
}

.right img{
    height: 40px;
}

.left img{
    height: 100px;
}